[Unit]
Description=StargateCommand update mirror HTTP server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=debian
Group=debian
WorkingDirectory=/home/debian/sgc_mirror
ExecStart=/usr/bin/python3 /home/debian/sgc_mirror/update_mirror.py --config /home/debian/sgc_mirror/update_mirror.json serve
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
